<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi aplicacion con Django</title>
</head>
<body>
    <h1>Mi primera Web</h1>
    <p>
        Jugando con mi primera 'Web'
    </p>
    <div style="width:480px"><iframe allow="fullscreen" frameBorder="0" height="354" src="https://giphy.com/embed/cOzyUgoJljvhut2G0E/video" width="480"></iframe></div>

    <iframe src="https://giphy.com/embed/ILW1fbJHW0Ndm" width="480" height="269" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/ILW1fbJHW0Ndm">via GIPHY</a></p>


</body>
<body style="background-color:lightseagreen;"></body>
</html>